.card, body {
    display: flex;
}
.card::after, .card::before {
    position: absolute;
    content: "";
    z-index: -1;
    background-image: linear-gradient(var(--rotate), #ffea00, #ffc100 43%, #320095);
    animation: 2.5s linear infinite spin;
}
.card, p {
    text-align: center;
}
:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
}
body {
    min-height: 100vh;
    background: #121212;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
}
h1 {
    color: #fff;
    font-family: "Titan One", cursive;
    margin-bottom: 20px;
}
.card {
    background: url("../images/whisper-img.jpg") center/cover no-repeat;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #88c7fa;
    font-family: "Gloria Hallelujah", cursive;
}
.user, p {
    color: #fff;
}
.card::before {
    width: 104%;
    height: 102%;
    border-radius: 8px;
    top: -1%;
    left: -2%}
.card::after {
    top: calc(var(--card-height)/ 6);
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(.8);
    filter: blur(calc(var(--card-height) / 6));
    opacity: 1;
    transition: opacity .5s;
}
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}
@keyframes spin {
    0% {
    --rotate: 0deg;
}
100% {
    --rotate: 360deg;
}
}a {
    color: #121212;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 700;
    margin-top: 2rem;
}
#refreshButton, p {
    font-size: 1.2em;
    font-family: "Gloria Hallelujah", cursive;
}
.user {
    font-size: 24px;
    font-family: "Titan One", cursive;
}
#refreshButton {
    background-color: #ffea00;
    color: #121212;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}
#refreshButton:hover {
    background-color: #ffc100;
    color: #fff;
}
p {
    background-color: rgba(136, 199, 250, .3);
    padding: 10px;
    border-radius: 6px;
    margin-top: 20px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
  }